@import "tailwindcss";

#root {
  padding-top: 70px;
}

.dark {
  background-color: #121212;
}


body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}
