@import "tailwindcss";

#root {
  padding-top: 60px;
}

.dark {
  background-color: #121212;
}


body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.navbar-open {
  padding-bottom: 20px;
}

.navbar {
  transition: padding-bottom 0.3s ease;
}

body.menu-open {
  padding-top: 50px;
}

@keyframes slideIn {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Приложим за съобщенията */
.message-enter {
  animation: slideIn 0.5s ease-out forwards;
}