/* colorFilters.css */

.color-filters {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.color-filter-btn {
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.color-filter-btn:hover {
    opacity: 0.8;
}